go 1.24

use (
	./bulkerapp
	./bulkerlib
	./config-keeper
	./connectors/airbytecdk
	./connectors/firebase
	./eventslog
	./ingest
	./ingress-manager
	./jitsubase
	./kafkabase
	./sync-controller
	./sync-sidecar
	admin
)
